body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 20px 0;
  min-height: 95vh;
}

.main-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.url-input {
  flex-grow: 1;
  padding: 14px 20px;
  font-size: 16px;

  background-color: #ebebeb;
  border: 2px solid transparent;
  border-radius: 8px;

  outline: none;
  transition: all 0.1s ease-in-out;
}

.url-input:focus {
  border-color: #265858;
}

.button {
  margin-left: 15px;
  padding: 16px 30px;

  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #265858;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  white-space: nowrap;
}

.error-container {
  margin-top: 35px;
  color: #cb0000;
  font-size: 25px;
  font-weight: 400;
}

/*НИЖЕ - "ОСНОВНАЯ ИНФОРМАЦИЯ"*/

.urls-container {
  margin-top: 35px;
  width: 100%;
  max-width: 1000px;
}

.url-row-layout {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ecf0f1;
}

.urls-container > .url-row-layout:last-child {
  border-bottom: none;
}

.urls-header {
  font-weight: bold;
  color: #7f8c8d;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid #bdc3c7;
  padding-top: 15px;
  padding-bottom: 15px;
}

.url-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.column-main-url {
  flex: 3;
  overflow-wrap: break-word;
}

.column-short-url {
  flex: 2;
}

.column-stats {
  flex: 2;
}

.column-action {
  flex: 1;
  text-align: center;
}

.column-short-url a, .url-text {
  max-width: 300px;
  font-size: 16px;
  font-weight: 500;
  color: #296c6c;
  text-decoration: none;
}
.column-short-url a:hover, .url-text:hover {
  text-decoration: underline;
}

.url-text {
  cursor: pointer;
}

.stats-link {
  color: #2980b9;
  text-decoration: none;
  font-weight: 500;
}
.stats-link:hover {
  text-decoration: underline;
}

/*КНОПКА*/
.delete-button {
  padding: 8px 15px;

  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #2980b9;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  white-space: nowrap;
}

.url-text {
  display: block;
  max-width: 300px;
}
